<!DOCTYPE html>
<html>
<head>
    <title>Главная страница</title>
</head>
<body>
    <h1>Тестовый проект ASP.NET Core</h1>
    <ul>
        <li><a href="/echo/get">GET запрос</a></li>
        <li><a href="/echo/headers">Заголовки</a></li>
        <li><a href="/echo/query?test=123">Параметры запроса</a></li>
        
    </ul>
</body>
</html>